Repository msu907/rfid-application-a53cay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @security-team, @backend-team, @data-team, @iot-team, @devops-team, @qa-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/package.json
  src/backend/package.json
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/middleware/rateLimit.middleware.ts
  src/backend/api-gateway/src/middleware/rateLimit.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/middleware/validation.middleware.ts
  src/backend/api-gateway/src/middleware/validation.middleware.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/routes/asset.routes.ts
  src/backend/api-gateway/src/routes/asset.routes.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/routes/location.routes.ts
  src/backend/api-gateway/src/routes/location.routes.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/routes/reader.routes.ts
  src/backend/api-gateway/src/routes/reader.routes.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/services/auth.service.ts
  src/backend/api-gateway/src/services/auth.service.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/src/services/proxy.service.ts
  src/backend/api-gateway/src/services/proxy.service.ts
Owners: @backend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/test/integration/routes.test.ts
  src/backend/api-gateway/test/integration/routes.test.ts
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/backend/api-gateway/test/unit/auth.test.ts
  src/backend/api-gateway/test/unit/auth.test.ts
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/Dockerfile
  src/backend/asset-service/Dockerfile
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/pom.xml
  src/backend/asset-service/pom.xml
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/AssetServiceApplication.java
  src/backend/asset-service/src/main/java/com/rfid/asset/AssetServiceApplication.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/config/SecurityConfig.java
  src/backend/asset-service/src/main/java/com/rfid/asset/config/SecurityConfig.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/controller/AssetController.java
  src/backend/asset-service/src/main/java/com/rfid/asset/controller/AssetController.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/controller/LocationController.java
  src/backend/asset-service/src/main/java/com/rfid/asset/controller/LocationController.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/dto/AssetDTO.java
  src/backend/asset-service/src/main/java/com/rfid/asset/dto/AssetDTO.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/dto/LocationDTO.java
  src/backend/asset-service/src/main/java/com/rfid/asset/dto/LocationDTO.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/entity/Asset.java
  src/backend/asset-service/src/main/java/com/rfid/asset/entity/Asset.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/entity/Location.java
  src/backend/asset-service/src/main/java/com/rfid/asset/entity/Location.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/repository/AssetRepository.java
  src/backend/asset-service/src/main/java/com/rfid/asset/repository/AssetRepository.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/repository/LocationRepository.java
  src/backend/asset-service/src/main/java/com/rfid/asset/repository/LocationRepository.java
Owners: @backend-team, @data-team, @security-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# Frontend application ownership
# Requires review from frontend team and security team for UI/UX and security validation
src/web/**      @frontend-team @security-team

# API Gateway service ownership
# Requires review from backend team and security team for API security
src/backend/api-gateway/**     @backend-team @security-team

# Asset management service ownership
# Requires review from backend, data, and security teams for data handling
src/backend/asset-service/**   @backend-team @data-team @security-team

# RFID reader service ownership
# Requires review from backend, IoT, and security teams for device security
src/backend/reader-service/**  @backend-team @iot-team @security-team

# Visualization service ownership
# Requires review from backend, frontend, and security teams for data visualization
src/backend/visualization-service/**    @backend-team @frontend-team @security-team

# Infrastructure configuration ownership
# Requires review from DevOps and security teams for infrastructure security
infrastructure/**     @devops-team @security-team

# CI/CD workflow ownership
# Requires review from DevOps and security teams for pipeline security
.github/workflows/**  @devops-team @security-team

# Security configuration ownership
# Requires review from security team and backend team for all security-related files
src/backend/**/security*.{ts,java,py}  @security-team @backend-team

# Test suite ownership
# Requires review from QA and backend teams for test coverage
src/backend/**/test/**    @qa-team @backend-team
