Repository msu907/rfid-application-a53cay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @security-team, @backend-team, @data-team, @iot-team, @devops-team, @qa-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/service/AssetService.java
  src/backend/asset-service/src/main/java/com/rfid/asset/service/AssetService.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/java/com/rfid/asset/service/LocationService.java
  src/backend/asset-service/src/main/java/com/rfid/asset/service/LocationService.java
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/resources/application.yml
  src/backend/asset-service/src/main/resources/application.yml
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/main/resources/db/migration/V1__init.sql
  src/backend/asset-service/src/main/resources/db/migration/V1__init.sql
Owners: @backend-team, @data-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/test/java/com/rfid/asset/controller/AssetControllerTest.java
  src/backend/asset-service/src/test/java/com/rfid/asset/controller/AssetControllerTest.java
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/backend/asset-service/src/test/java/com/rfid/asset/service/AssetServiceTest.java
  src/backend/asset-service/src/test/java/com/rfid/asset/service/AssetServiceTest.java
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/backend/helm/Chart.yaml
  src/backend/helm/Chart.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/helm/values.yaml
  src/backend/helm/values.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/helm/templates/configmap.yaml
  src/backend/helm/templates/configmap.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/helm/templates/deployment.yaml
  src/backend/helm/templates/deployment.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/helm/templates/secret.yaml
  src/backend/helm/templates/secret.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/helm/templates/service.yaml
  src/backend/helm/templates/service.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/k8s/base/kustomization.yaml
  src/backend/k8s/base/kustomization.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/k8s/overlays/dev/kustomization.yaml
  src/backend/k8s/overlays/dev/kustomization.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/k8s/overlays/prod/kustomization.yaml
  src/backend/k8s/overlays/prod/kustomization.yaml
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/proto/asset.proto
  src/backend/proto/asset.proto
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/proto/reader.proto
  src/backend/proto/reader.proto
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/proto/visualization.proto
  src/backend/proto/visualization.proto
Owners: @project-leads

Add public-samples/rfid-application-a53cay/src/backend/reader-service/Dockerfile
  src/backend/reader-service/Dockerfile
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/pyproject.toml
  src/backend/reader-service/pyproject.toml
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/requirements.txt
  src/backend/reader-service/requirements.txt
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/__init__.py
  src/backend/reader-service/src/__init__.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/app.py
  src/backend/reader-service/src/app.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/config.py
  src/backend/reader-service/src/config.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/controllers/reader_controller.py
  src/backend/reader-service/src/controllers/reader_controller.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/models/read.py
  src/backend/reader-service/src/models/read.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/models/reader.py
  src/backend/reader-service/src/models/reader.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/services/llrp_service.py
  src/backend/reader-service/src/services/llrp_service.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/services/read_processor.py
  src/backend/reader-service/src/services/read_processor.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/utils/deduplication.py
  src/backend/reader-service/src/utils/deduplication.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/src/utils/filtering.py
  src/backend/reader-service/src/utils/filtering.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/tests/conftest.py
  src/backend/reader-service/tests/conftest.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/tests/test_llrp_service.py
  src/backend/reader-service/tests/test_llrp_service.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/reader-service/tests/test_read_processor.py
  src/backend/reader-service/tests/test_read_processor.py
Owners: @backend-team, @iot-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/Dockerfile
  src/backend/visualization-service/Dockerfile
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/package.json
  src/backend/visualization-service/package.json
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/tsconfig.json
  src/backend/visualization-service/tsconfig.json
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/app.ts
  src/backend/visualization-service/src/app.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/config/index.ts
  src/backend/visualization-service/src/config/index.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/controllers/visualization.controller.ts
  src/backend/visualization-service/src/controllers/visualization.controller.ts
Owners: @backend-team, @frontend-team, @security-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# Frontend application ownership
# Requires review from frontend team and security team for UI/UX and security validation
src/web/**      @frontend-team @security-team

# API Gateway service ownership
# Requires review from backend team and security team for API security
src/backend/api-gateway/**     @backend-team @security-team

# Asset management service ownership
# Requires review from backend, data, and security teams for data handling
src/backend/asset-service/**   @backend-team @data-team @security-team

# RFID reader service ownership
# Requires review from backend, IoT, and security teams for device security
src/backend/reader-service/**  @backend-team @iot-team @security-team

# Visualization service ownership
# Requires review from backend, frontend, and security teams for data visualization
src/backend/visualization-service/**    @backend-team @frontend-team @security-team

# Infrastructure configuration ownership
# Requires review from DevOps and security teams for infrastructure security
infrastructure/**     @devops-team @security-team

# CI/CD workflow ownership
# Requires review from DevOps and security teams for pipeline security
.github/workflows/**  @devops-team @security-team

# Security configuration ownership
# Requires review from security team and backend team for all security-related files
src/backend/**/security*.{ts,java,py}  @security-team @backend-team

# Test suite ownership
# Requires review from QA and backend teams for test coverage
src/backend/**/test/**    @qa-team @backend-team
