Repository msu907/rfid-application-a53cay, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @frontend-team, @security-team, @backend-team, @data-team, @iot-team, @devops-team, @qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @project-leads will be requested for
# review when someone opens a pull request.
*       @project-leads

# Frontend application ownership
# Requires review from frontend team and security team for UI/UX and security validation
src/web/**      @frontend-team @security-team

# API Gateway service ownership
# Requires review from backend team and security team for API security
src/backend/api-gateway/**     @backend-team @security-team

# Asset management service ownership
# Requires review from backend, data, and security teams for data handling
src/backend/asset-service/**   @backend-team @data-team @security-team

# RFID reader service ownership
# Requires review from backend, IoT, and security teams for device security
src/backend/reader-service/**  @backend-team @iot-team @security-team

# Visualization service ownership
# Requires review from backend, frontend, and security teams for data visualization
src/backend/visualization-service/**    @backend-team @frontend-team @security-team

# Infrastructure configuration ownership
# Requires review from DevOps and security teams for infrastructure security
infrastructure/**     @devops-team @security-team

# CI/CD workflow ownership
# Requires review from DevOps and security teams for pipeline security
.github/workflows/**  @devops-team @security-team

# Security configuration ownership
# Requires review from security team and backend team for all security-related files
src/backend/**/security*.{ts,java,py}  @security-team @backend-team

# Test suite ownership
# Requires review from QA and backend teams for test coverage
src/backend/**/test/**    @qa-team @backend-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/models/dashboard.model.ts
  src/backend/visualization-service/src/models/dashboard.model.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/services/realtime.service.ts
  src/backend/visualization-service/src/services/realtime.service.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/services/websocket.service.ts
  src/backend/visualization-service/src/services/websocket.service.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/src/utils/data-transformer.ts
  src/backend/visualization-service/src/utils/data-transformer.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/test/integration/websocket.test.ts
  src/backend/visualization-service/test/integration/websocket.test.ts
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/backend/visualization-service/test/unit/data-transformer.test.ts
  src/backend/visualization-service/test/unit/data-transformer.test.ts
Owners: @qa-team, @backend-team

Add public-samples/rfid-application-a53cay/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/icons/asset.svg
  src/web/public/assets/icons/asset.svg
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/icons/location.svg
  src/web/public/assets/icons/location.svg
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/icons/reader.svg
  src/web/public/assets/icons/reader.svg
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/images/login-bg.jpg
  src/web/public/assets/images/login-bg.jpg
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/images/logo.svg
  src/web/public/assets/images/logo.svg
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/public/assets/images/placeholder.png
  src/web/public/assets/images/placeholder.png
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/components/assets/AssetCard.test.tsx
  src/web/src/__tests__/components/assets/AssetCard.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/components/assets/AssetDetail.test.tsx
  src/web/src/__tests__/components/assets/AssetDetail.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/components/common/Button.test.tsx
  src/web/src/__tests__/components/common/Button.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/components/common/Modal.test.tsx
  src/web/src/__tests__/components/common/Modal.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/hooks/useAsset.test.ts
  src/web/src/__tests__/hooks/useAsset.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/pages/DashboardPage.test.tsx
  src/web/src/__tests__/pages/DashboardPage.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/pages/LoginPage.test.tsx
  src/web/src/__tests__/pages/LoginPage.test.tsx
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/redux/slices/assetSlice.test.ts
  src/web/src/__tests__/redux/slices/assetSlice.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/redux/slices/authSlice.test.ts
  src/web/src/__tests__/redux/slices/authSlice.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/utils/api.utils.test.ts
  src/web/src/__tests__/utils/api.utils.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/__tests__/utils/validation.utils.test.ts
  src/web/src/__tests__/utils/validation.utils.test.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/api/asset.api.ts
  src/web/src/api/asset.api.ts
Owners: @frontend-team, @security-team

Add public-samples/rfid-application-a53cay/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-team, @security-team
